.jimu-widget-reviewerwidget>* {
    /* margin-bottom: 300px; */
    font-size: 1.15em;
}

.jimu-widget-reviewerwidget option, button, textarea {
    font-size: 1.15em;
}

.jimu-widget-reviewerwidget strong {
    color:#B80F0A;
}

.jimu-widget-reviewerwidget .panel_heading {
    font-weight: 600;
    font-size: 1.4em;
    margin-top: 0em;
    margin-bottom: 0.5em;
}

.jimu-widget-reviewerwidget div {
    margin-bottom: .4em;
}

.jimu-widget-reviewerwidget label {
    display: inline-block;
    /* min-width: 80px; */
    /* margin-right: 10px; */
}

.jimu-widget-reviewerwidget select {
    width: 100%;
    height: 2.5em;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

.jimu-widget-reviewerwidget textarea {
    width: 100%;
    height: 3.5em;
}

